streamlit
spacy==3.7.5
pdfplumber
docx2txt
pytesseract
pillow
matplotlib
numpy<2
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
