streamlit
spacy==3.7.2
pdfplumber
docx2txt
pytesseract
pillow
matplotlib
numpy
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
